{
    "extends": ["eslint:recommended", "plugin:tailwindcss/recommended", "prettier"],   
    "plugins": ["tailwindcss"],
    "rules": {
      "tailwindcss/classnames-order": "warn" // Mengingatkan jika kelas tidak teratur
    }
  }
  